<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/popupInster.css">
    <link rel="stylesheet" href="css/{{alone}}.css">
    <script src="js/jquery-2.0.3.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/popupInster.js"></script>
    <script src="script/{{alone}}.js"></script>
</head>
<body>
<div class="main">
    <div class="login">
        <div class="company">
            <img src="images/logo.png" alt="">
            <p>生日蛋糕购买网站后台管理</p>
        </div>
        <form action="" id="admin-login">
            <div>
                <label for="">用户名：<input type="text" name="adminName"></label>
            </div>
            <div>
                <label for="">密&#x3000;码：<input type="password" name="password"></label>
            </div>
            <div>
                <input type="submit" value="登录">
            </div>
        </form>
    </div>
</div>
</body>
</html>