{{include 'share/header'}}
  <div class="main">
	<div class="auto">
		<div class="dt-top">
			<div class="dt-left">
				<img src="images/323.jpg">
			</div>
			<div class="dt-right">
				<div class="dt-title">
					<p class="dt-p1 cakeName">LUCKY MAN</p>
					<p class="dt-p2">随机播放特别的味道</p>
				</div>
				<div class="dt-sel">
					<ul>
						<li class="hover sel-li">
							<p class="sel-p1">1.0磅：13cm*13cm </p>
							<p class="sel-p2">适合4-5人食用</p>
							<p class="sel-p3">含免费餐具5份</p>
						</li>
						<li class="sel-li">
							<p class="sel-p1">2.0磅：17cm*17cm </p>
							<p class="sel-p2">适合7-8人食用</p>
							<p class="sel-p3">含免费餐具10份</p>
						</li>
						<li class="sel-li">
							<p class="sel-p1">3.0磅：23cm*23cm </p>
							<p class="sel-p2">适合11-12人食用</p>
							<p class="sel-p3">含免费餐具15份</p>
						</li>
						<li class="sel-li">
							<p class="sel-p1">5.0磅：30cm*30cm </p>
							<p class="sel-p2">适合15-20人食用</p>
							<p class="sel-p3">含免费餐具20份</p>
						</li>
						<p style="clear:both;"></p>
					</ul>
					<p class="selline"></p>
				</div>
				<div class="dt-number">
					<table id="tab-number">
						<tbody>
							<tr>
								<td>
									<input type="button" class="min" value="-">
									<input type="text" class="text" value="1">
									<input type="button" class="add" value="+">
								</td>
							</tr>
						</tbody>
					</table>
					<p>￥<label id="total">188</label></p>
				</div>
				<div class="dt-shop">
					<div class="add-shop">加入购物车</div>
					<div class="now-buy">立即订购</div>
						<p style="clear:both;"></p>
				</div>
			</div>
		</div>
		<div class="dt-down">
			<div class="dt-down-title"><img src="images/introduce.png"><span>商品详情</span></div>
			<div class="dt-down-img"><img src="images/luckman_2.jpg"><img src="images/luckman_1.jpg"></div>
			<div class="dt-down-decl">
				<ul>
					<li>
						<p><img src="images/introduce_ico01.png"></p>
						<p><span>坚持只使用100%</span><br><span>纯进口乳脂奶油</span></p>
					</li>
					<li>
						<p><img src="images/introduce_ico02.png"></p>
						<p><span>绝不添加任何色素</span></p>
					</li>
					<li>
						<p><img src="images/introduce_ico03.png"></p>
						<p><span>绝不添加任何香精</span></p>
					</li>
					<li>
						<p><img src="images/introduce_ico04.png"></p>
						<p><span>绝不添加任何防腐剂</span></p>
					</li>
				</ul>
				<p style="clear:both;"></p>
			</div>
			<p style="clear:both;"></p>
		</div>
	</div>
  </div>
{{include 'share/footer'}}