{{include 'share/header'}}
<div class="main">
    <div id="wrap">
        <div class="ppt-box">
            <div id="p1" class="ppt"></div>
            <div class="p2 ppt"></div>
            <div class="p3 ppt"></div>
            <div class="p4 ppt"></div>
        </div>
        <ul class="dot">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="auto">
        <div class="classify">
            <div class="classify-title">
                <span class="title-line"></span>
                <span class="title-image"><img src="images/cake_classify.png"></span>
                <span class="title-t">蛋糕分类</span>
                <span class="title-line"></span>
            </div>
        </div>
        <div class="classify-product">
            <a href="/list">
                <div class="row1 row">
                    <img src="images/classify_image01.jpg">
                    <div class="row-bg1">
                        <span class="row-bg1-1">情感系列</span>
                    </div>
                </div>
            </a>
            <a href="/list">
            <div class="row2 row">
                <a href="/list"><img src="images/classify_image02.jpg"></a>
                <div class="row-bg1">
                    <span class="row-bg1-1">极致系列</span>
                </div>
            </div>
            </a>
            <a href="/list">
            <div class="row1 row">
                <a href="/list"><img src="images/classify_image03.jpg"></a>
                <div class="row-bg1">
                    <span class="row-bg1-1">趣味系列</span>
                </div>
            </div>
            </a>
            <a href="/list">
            <div class="row2 row">
                <a href="/list"><img src="images/classify_image04.jpg"></a>
                <div class="row-bg1">
                    <span class="row-bg1-1">口味系列</span>
                </div>
            </div>
            </a>
        </div>
    </div>
    <p style="clear: both;"></p>
</div>
{{include 'share/footer'}}


