{{include 'share/header'}}
  <div class="main">
  	<div class="nav-line"></div>
  	<ul class="loutiul">
  		<li id="list01" class="active"><i>情感系列</i></li>
  		<li><i>极致系列</i></li>
  		<li><i>趣味系列</i></li>
  		<li><i>口味系列</i></li>
  		<li><i>周边品</i></li>
  	</ul>
	<div class="list-auto">
		<div class="list-title">
			<img src="images/list_classify.png">
			<span>蛋糕分类</span>
			<p style="clear:both;"></p>
		</div>
		<div class="list-good">
			<div class="lsgo">
				<span>情感系列 Emotional Series</span>
				<img src="images/down_icon.png">
			</div>
			<div class="garea">
				<a href="/detail">
					<div class="product">
						<p class="p01"><img src="images/27.jpg" alt=""></p>
						<p class="p02"><span class="span1">致爱</span></p>
						<div class="product-ms">
							<ul>
								<li><b>致吾所爱</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">食用玫瑰、乳脂奶油、桃红甜酒、洛神花</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/26.jpg" alt=""></p>
						<p class="p02"><span class="span1">许愿</span></p>
						<div class="product-ms">
							<ul>
								<li><b>爱的期许</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">扁桃仁、乳脂奶油</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="list-good" id="index1">
			<div class="lsgo">
				<span>极致系列 Ultimate Series</span>
				<img src="images/down_icon.png">
			</div>
			<div class="garea">
				<a href="/detail">
					<div class="product">
						<p class="p01"><img src="images/124.jpg" alt=""></p>
						<p class="p02"><span class="span1">碾茶金时</span></p>
						<div class="product-ms">
							<ul>
								<li><b>拾一颗茶心</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02"></span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">有机抹茶、赤小豆、乳脂奶油</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/19.jpg" alt=""></p>
						<p class="p02"><span class="span1">阿尔卑斯</span></p>
						<div class="product-ms">
							<ul>
								<li><b>温暖的封存</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">慕斯</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">谷物脆、巧克力、芝士、乳脂奶油</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/9.jpg" alt=""></p>
						<p class="p02"><span class="span1">爱的箴言</span></p>
						<div class="product-ms">
							<ul>
								<li><b>伟大的感动都在不言之中</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">芝士</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">牛油果、芝士、开心果</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/33.jpg" alt=""></p>
						<p class="p02"><span class="span1">歌剧院</span></p>
						<div class="product-ms">
							<ul>
								<li><b>奏响版世界的舌尖乐章 回溯50年前的法师经典</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">巧克力</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">杏仁、巧克力、咖啡酒、咖啡、乳脂奶油、核桃</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="list-good">
			<div class="lsgo">
				<span>趣味系列 Interesting Series</span>
				<img src="images/down_icon.png">
			</div>
			<div class="garea">
				<a href="/detail">
					<div class="product">
						<p class="p01"><img src="images/22.jpg" alt=""></p>
						<p class="p02"><span class="span1">小爪</span></p>
						<div class="product-ms">
							<ul>
								<li><b>两个人 一辈子让人发狂的小可爱</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">乳脂奶油、白巧克力、树莓、黄桃</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/126.jpg" alt=""></p>
						<p class="p02"><span class="span1">刺猬小子</span></p>
						<div class="product-ms">
							<ul>
								<li><b>炎炎夏日里的一抹清凉</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">慕斯</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">芒果莫斯（奇异果、凤梨树莓水果夹心）刺猬面孔、牛奶巧克力发型。蓝莓冰糖眼睛</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/LUCKY MAN.jpg" alt=""></p>
						<p class="p02"><span class="span1">LUCKY MAN</span></p>
						<div class="product-ms">
							<ul>
								<li><b>随机播放特别的味道</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">巧克力</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">巧克力、乳脂奶油、芥末、松子</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/10.jpg" alt=""></p>
						<p class="p02"><span class="span1">拔萝卜</span></p>
						<div class="product-ms">
							<ul>
								<li><b>花开---陶醉时光 拔起小萝卜 分享大欢乐</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">胡萝卜、榛子、乳脂奶油、菠菜</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="list-good clearfix" id="a">
			<div class="lsgo">
				<span>口味系列 Taste Series</span>
				<img src="images/down_icon.png">
			</div>
			<div class="garea">
				<a href="/detail">
					<div class="product">
						<p class="p01"><img src="images/125.jpg" alt=""></p>
						<p class="p02"><span class="span1">树莓夏朵</span></p>
						<div class="product-ms">
							<ul>
								<li><b>寻找那一颗颗酸甜的法国树莓</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">树莓、白巧克力、伏加特、乳脂奶油</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/83.jpg" alt=""></p>
						<p class="p02"><span class="span1">最佳拍档</span></p>
						<div class="product-ms">
							<ul>
								<li><b>天生的灵魂伴侣</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02"></span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">芒果、西番莲</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/11.jpg" alt=""></p>
						<p class="p02"><span class="span1">冰魄茉莉</span></p>
						<div class="product-ms">
							<ul>
								<li><b>感受冷艳下的独特魅力</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">水果</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">茉莉、荔枝、乳脂奶油</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/15.jpg" alt=""></p>
						<p class="p02"><span class="span1">千与千薰</span></p>
						<div class="product-ms">
							<ul>
								<li><b>在安安静静中俘获你的心</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">紫薯、黑橄榄、薰衣草、芝士、乳脂奶油、白葡萄酒</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product">
						<p class="p01"><img src="images/38.jpg" alt=""></p>
						<p class="p02"><span class="span1">原味拿破仑</span></p>
						<div class="product-ms">
							<ul>
								<li><b>雕刻美味的年轮 体会巴黎独有的百万层酥脆</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">乳脂奶油、卡仕达酱、黄油</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/21.jpg" alt=""></p>
						<p class="p02"><span class="span1">英雄本色</span></p>
						<div class="product-ms">
							<ul>
								<li><b>戒不掉的男人味</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">巧克力、葡萄干、黑橄榄、黑朗姆酒、乳脂奶油、核桃</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/8.jpg" alt=""></p>
						<p class="p02"><span class="span1">Happy Hour</span></p>
						<div class="product-ms">
							<ul>
								<li><b>一起分享相聚的快乐时光</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">巧克力</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">乳脂奶油、草莓、奇异果、凤梨、芒果、蓝莓、西柚、火龙果</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/36.jpg" alt=""></p>
						<p class="p02"><span class="span1">黑色堡垒</span></p>
						<div class="product-ms">
							<ul>
								<li><b>8小时的疲惫 一针鸡血</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">巧克力</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">巧克力、榛子、乳脂奶油</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2 product3">
						<p class="p01"><img src="images/37.jpg" alt=""></p>
						<p class="p02"><span class="span1">布朗尼</span></p>
						<div class="product-ms">
							<ul>
								<li><b>不可思议的味觉碰撞体会绵软与松脆的美妙结合</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02">奶油</span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">巧克力、葡萄干、黑橄榄、黑朗姆酒、乳脂奶油、核桃</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/87.jpg" alt=""></p>
						<p class="p02"><span class="span1">君子</span></p>
						<div class="product-ms">
							<ul>
								<li><b>君子和而不同</b></li>
								<li><span class="ll-01">类型：</span><span class="ll-02"></span></li>
								<li><span class="ll-01">原料：</span><span class="ll-02">乳脂奶油、榴莲</span></li>
								<li><span class="ll-01">口味：</span><span class="ll-02">不含酒</span></li>
							</ul>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="list-good">
			<div class="lsgo">
				<span>周边品 Nearby Series</span>
				<img src="images/down_icon.png">
			</div>
			<div class="garea">
				<a href="/detail">
					<div class="product">
						<p class="p01"><img src="images/92.jpg" alt=""></p>
						<p class="p02"><span class="span1">小瓷猫绿植</span></p>
						<div class="product-ms">
							<ul>
								<li><b class="red">*装饰用品不可食用。</b></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/119.jpg" alt=""></p>
						<p class="p02"><span class="span1">花环-释放青春</span></p>
						<div class="product-ms">
							<ul>
								<li><b class="red">*装饰用品不可食用。</b></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/117.jpg" alt=""></p>
						<p class="p02"><span class="span1">卡通眼镜</span></p>
						<div class="product-ms">
							<ul>
								<li><b class="red">*装饰用品不可食用。</b></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2">
						<p class="p01"><img src="images/61.jpg" alt=""></p>
						<p class="p02"><span class="span1">大蜡烛</span></p>
						<div class="product-ms">
							<ul>
								<li><b class="red">*装饰用品不可食用。</b></li>
							</ul>
						</div>
					</div>
				</a>
				<a href="/detail">
					<div class="product product2 product3">
						<p class="p01"><img src="images/67.jpg" alt=""></p>
						<p class="p02"><span class="span1">数字蜡烛</span></p>
						<div class="product-ms">
							<ul>
								<li><b class="red">*装饰用品不可食用。</b></li>
							</ul>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
  </div>
<script>
	$(function () {
	    switch ({{index}}){
	        case 0:
	            return $('html,body').animate({scrollTop: '185px'}, 800);
	        case 1:
	            return $('html,body').animate({scrollTop: '595px'}, 800);
            case 2:
                return $('html,body').animate({scrollTop: '1056px'}, 800);
            case 3:
                return $('html,body').animate({scrollTop: '1497px'}, 800);

		}
    })
</script>
{{include 'share/footer'}}
