{{include 'share/header'}}
<div class="main">
    <div class="auto-l">
        <div class="auto-l-title">
            <span>我的订单</span>
        </div>
        <div class="auto-l-empty">
            <ul class="cartList">
                <li class="listTitle">
                    <span></span>
                    <span>订单号</span>
                    <span>商品</span>
                    <span>单价</span>
                    <span>数量</span>
                    <span>规格</span>
                    <span>小计</span>
                    <span>状态</span>
                    <span>操作</span>
                    <span>下单时间</span>
                </li>
                {{each orders as order}}
                <li class="listDetail" data-id="{{order.id}}">
                    <span class="orderImage"><img src="images/{{order.name}}.jpg" alt=""></span>
                    <span class="orderNumber">{{order.orderNumber}}</span>
                    <span>{{order.name}}</span>
                    <span>{{order.price}}元</span>
                    <span>{{order.number}}</span>
                    <span>{{order.size}}</span>
                    <span class="money">{{order.price * order.number}}元</span>
                    {{if order.status=='已完成'}}
                    <span class="green">{{order.status}}</span>
                    <span>一</span>
                    {{else}}
                    <span>{{order.status}}</span>
                    <span><button class="toDo">{{order.status | formatStatus}}</button></span>
                    {{/if}}

                    <span>{{order.orderNumber | formatTime}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{include 'share/footer'}}
