<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付</title>
    <link rel="stylesheet" href="css/pay.css">
    <script src="js/jquery-2.0.3.js"></script>
    <script src="script/pay.js"></script>
</head>
<body>
<header>
    <div class="title">
        <img src="images/weixin01.png" alt="">
        <span>微信支付</span>
    </div>
</header>
<main>
    <h1>¥{{order.price}}</h1>
    <img src="images/erweima.png" alt="">
    <p><span>商家</span><span>生日蛋糕</span></p>
    <p><span>订单号码</span><span class="orderNumber">{{order.orderNumber}}</span></p>
    <p><span>商品名称</span><span>{{order.name}}</span></p>
    <p><span>创建时间</span><span>{{order.orderNumber | formatTime}}</span></p>
    <div class="hint">
        <img src="images/saoyisao.png" alt="">
        <p>请使用微信扫一扫</p>
        <p>扫描二维码完成支付</p>
    </div>
    <div class="over">
        <span id="payOver">完成支付</span>
    </div>
</main>
</body>
</html>