/* 购物车 */
.main{background-color: #EEF0F1;overflow: hidden;}
.auto-l{width: 1198px;margin:0 auto;}
.auto-l-title{width: 1198px;height: 55px;line-height: 55px;border: 1px solid rgb(221, 221, 221);margin-top:45px;background-color: white;}
.auto-l-title img{margin-top: 17px;margin-left: 47px;}
.auto-l-title span{color:rgb(112, 111, 111);font-size: 18px;}
.auto-l-empty{width: 1198px;padding: 30px;text-align: center;background-color: white;height: 430px;box-sizing: border-box;}
.auto-l-empty img{width: 200px;margin: 20px 0;}
.auto-l-empty a{display: block;width: 120px;height: 40px;text-align: center;text-decoration: none;padding: 2px 5px;line-height: 40px;background-color: rgb(143, 193, 89);border-radius: 6px;margin: 0 auto;color: white;font-size: 20px;}

.detailAddress textarea{width: 300px;height: 100px;margin-bottom: 20px;font-size: 18px;resize: none;vertical-align: top;}
.contact input{width: 300px;height: 30px;margin-bottom: 20px;font-size: 18px;}
.btn input{width: 100px;height: 30px;margin: 0 20px; cursor: pointer;}







