* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #555;
}
.login{width: 500px;margin: 200px auto;}
.company{float: left;border-right: 1px solid #DBDBDB;margin-right: 10px;}
.company p{font-size: 14px;margin-top: 10px;}
#admin-login div{margin: 15px 0;font-size: 16px;}
#admin-login div input{width: 200px;height: 28px;padding: 0;font-size: 16px;}
#admin-login div input[type='submit']{width: 100px;}