/* 我的订单 */
.main{background-color: #EEF0F1;overflow: hidden;width: 100%;}
.auto-l{width: 1198px;margin:0 auto;}
.auto-l-title{width: 1198px;height: 55px;line-height: 55px;margin-top:30px;background-color: white;text-align: center;color:#DD0330;border-bottom: 1px solid #8B979F;font-weight: bold}
.auto-l-empty{width: 1198px;padding: 30px;text-align: center;background-color: white;min-height: 430px;box-sizing: border-box;}
.auto-l-empty img{width: 200px;margin: 20px 0;}
.auto-l-empty a{display: block;width: 120px;height: 40px;text-align: center;text-decoration: none;padding: 2px 5px;line-height: 40px;background-color: rgb(143, 193, 89);border-radius: 6px;margin: 0 auto;color: white;font-size: 20px;}

.cartList li{list-style: none;}
.listTitle{background-color: #DD0330;color: white;border-radius: 5px;}
.listTitle span{display: inline-block;width: 100px;padding: 10px 0;}
.listDetail{border-bottom: 1px dashed #bbb;font-size: 14px;}
.listDetail span{display: inline-block;width: 100px;padding: 10px 0;}
.listDetail span.money{color: crimson}
.listDetail .toDo{cursor: pointer;}
.listDetail span.orderImage{width: 100px;}
.listDetail span.orderImage img{width: 80px;margin: 0;}
.green{color: green;}







